<div *ngIf="!isGameSelected">
  <button *ngFor="let g of games" (click)="chooseGame(g.gameId)">{{g.gameId}}</button>
  <button (click)="newGame()">New game</button>
</div>

<div *ngIf="isGameSelected">
  <div *ngIf="isNewGame">
    Select board size
    <pre>
  <input type="text"  #titleInput>
  <button type="submit" (click) = 'selectSize(titleInput.value)'>Confirm</button>
</pre>
  </div>

  <div *ngIf="!isNewGame">
    <div [ngStyle]="{'padding-left': (25*(fieldSize-i))+'px'}" class="row" *ngFor="let row of field; let i = index">
      <div class="circle" *ngFor="let c of row"></div>
    </div>
  </div>
</div>

<button (click)="getAllGames()">GetAll</button>
